{% load staticfiles %}

<!doctype html>
<html>
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>
        
        <!-- Base Imports -->

        {% block head %}
        {% endblock %}
    </head>
    <body>
        <!-- Header -->
        <div id='header'>
            Header!
        </div>
        <!-- Body -->
        <div id='body'>
            {% block body %}
            {% endblock %}
        </div>

        <!-- Footer -->
        <div id='footer'>
            Footer!
        </div>
    </body>
</html>